[submodule "themes/digitalgarden"]
	path = themes/digitalgarden
	url = https://github.com/apvarun/digital-garden-hugo-theme.git
[submodule "themes/hugo-book"]
	path = themes/hugo-book
	url = https://github.com/alex-shpak/hugo-book
